venv/

.git
.gitignore
.env.development
.vscode
.idea
*.swp

log/*
nginx/
temp/
docker-compose.yml
pictures/products/*

migrations/versions/__pycache__/
migrations/__pycache__/
app/__pycache__/
app/admin/__pycache__/
app/auth/__pycache__/
app/cart/__pycache__/
app/exception/__pycache__/
app/middleware/__pycache__/
app/order/__pycache__/
app/role/__pycache__/
app/user/__pycache__/
app/product/__pycache__/
app/service/__pycache__/
app/email/__pycache__/
