body{
    position: relative;
    margin: 0;
    overflow:hidden;
}
.main-container {
    /* overflow: hidden; */
    width: 100vw;
    height: 100vh;
    background: #000;
    display: flex;
    flex-direction: column;
    color: #fff;
    overflow-x: hidden;
}
.main-container * {
    z-index: 3;
}

.header {
    width: 100vw;
    max-height: 250px;
    display: flex;
    padding: 1.5em;
    flex-direction: row;
    justify-content: start;
}


.login-container {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 2.5em;
}

.login__heading {
    text-align: center;
}

.login__form {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
@media screen and (width >= 1250px  ) {
    .login__form {
        width: 25%;
    }
}
@media screen and (max-width: 750px) {
    .login__form {
        width: 60%;
    }
}

.login__field-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 2.25em;
}

.login__field {
    padding: 1em;
    height: 1em;
    border-radius: 0.75em;
    color: #fff;
    background-color: #FFFFFF08;
    border: 0.5px solid #FFFFFF29;
    backdrop-filter: blur(10px);
}
.login__field:focus {
    outline: none;
}
.login__field::placeholder {
    color: #FFFFFF29;
}

.password-field-container { 
    height: 1em;
    border: 0.5px solid #FFFFFF29;
    border-radius: 0.75em;
    padding: 1em;
    background: #FFFFFF08;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.password-field {
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
    max-height: min-content;
    flex: 7
}
.password-field::placeholder {
    color: #FFFFFF29
}

.icon-container {
    flex: 1;
    height: 100%;
}
.icon {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    min-width: 32px
}

.login__buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.login__login-button {
    padding: 0.5em;
    padding-left: 1.75em;
    padding-right: 1.75em;
    outline: none;
    border: 0.5px solid #FFFFFF29;
    border-radius: 0.4em;
    background-color: #480E8EBD;
    color: #fff;
    font-weight: bolder;
    font-size:small;
}


.f-b-1 {
	position: absolute;
    top: 0;
    left: 0;
	z-index: 1;
    object-fit: cover;
	width: 100vw;
    height: 100vh;
}